$first-color: #1E824C;
$second-color: #fff;
$third-color: #808080;
$fourth-color: #e4e4e4;
$error-color: #a14949;
* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

header {
    background: $first-color;
    color: $second-color;
    padding: 10px;
    h1 {
        margin: 0px;
        padding: 10px;
    }
    .search {
        height: 40px;
        .input-search {
            border: none;
            border-radius: 4px;
            color: $third-color;
            font-size: 16px;
            height: 40px;
            padding-left: 10px;
            position: relative;
            top: -15px;
        }
        .img-search {
            margin-left: 10px;
            height: 40px;
            cursor: pointer;
        }
    }
}

.btn {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 20px;
    background: $first-color;
    color: $second-color;
    cursor: pointer;
    font-size: 16px;
    &:focus {
        outline: none;
    }
}

.input {    
    display: inline-block;    
    border: 1px solid #afa9a9;
    border-radius: 2px;
    color: $third-color;
    font-size: 16px;
    height: 40px;
    padding-left: 10px;
    &:focus {
        outline: none;
    }
}

.error-label {
    color: $error-color;
    font-size: 90%;
    top: -10px;
    text-align: left;
    position: relative;
    width: 80%;
    display: inline-block;
    margin-left: 20px;
}

footer {
    background: $first-color;
    bottom: 0;
    position: fixed;
    width: 100%;
    .copyright {
        color: $second-color;
        margin: 5px;
    }
}