section.content {
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 60px;
    max-width: 1000px;
    width: 100%;
    ul {
        text-align: left;
        padding: 10px;
        margin: 0;
    }
    li {
        background: $fourth-color;
        border-radius: 2px;
        color: $third-color;
        list-style: none;
        margin: 10px;
        padding: 20px 10px 20px 10px;
    }
    .todo-completed {
        background: $first-color;
        border-radius: 3px;
        color: $second-color;
        padding: 3px;
        position: relative;  
        bottom: 18px;   
    }
}

.item-text {
    text-align: center;
}

.item-input {
    width: 60%;
}

.item-group-icons {
    text-align: center;
}

.item-icon {
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

.add-icon {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    margin: 20px;
    margin-bottom: 0;
}

.add-group {
    text-align: left;
    form {
        text-align: center;
    }
}

.add-text {
    bottom: 15px;
    color: $first-color;
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
    position: relative;
    text-align: left;
}

.add-input {
    width: 70%;
    border: 1px solid $fourth-color;
    margin: 15px;
}

@media screen and (min-width: 768px) {
    header .search,
    header h1 {
        width: 49%;
        display: inline-block;
    }
    header .search {
        position: relative;
        top: 10px;
        text-align: left;
    }
    header h1 {
        text-align: right;
    }
    .item-group-icons,
    .item-text {
        display: inline-block;
    }
    .item-input {
        width: 80%;
    }
    .item-text {
        max-width: 65%;
    }
    .item-group-icons {
        float: right;
    }
    .add-group form {
        text-align: left;
    }
}